#app {
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: 210px;
    position: relative;
  }

  //侧边栏
  .sidebar-wrapper {
    transition: width 0.28s;
    width: 210px !important;
    background-color: #304156;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    >div.menu-container>li.el-menu-item,
    >div.menu-container>li.el-submenu>.el-submenu__title {
      border-bottom: 1px solid rgba(221, 130, 130, 0.1);
    }

    .el-menu-item {
      background: #304156 !important;
    }

    /* 菜单hover时的背景 */
    .el-submenu__title:hover,
    .el-menu-item:hover {
      background: #223041 !important;
    }
  }

  //头部
  .navbar-wrapper {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

    .toggleNavCollapse {
      display: inline-block;
      margin-left: 8px;
      padding: 0 10px;
      font-size: 26px;
      vertical-align: middle;
      color: #333;
      cursor: pointer;
      transition: all 0.5s;

      &.active {
        transform: rotate(180deg);
      }
    }
  }

  //折叠菜单下的样式
  .navCollapsed {
    .sidebar-wrapper {
      width: 64px !important;

      ul {
        display: none;
      }

      .iconfont+span {
        display: none;
      }

      .el-submenu__icon-arrow {
        display: none;
      }
    }

    .main-container {
      margin-left: 64px;
    }
  }
}